body{
    margin:0;
    font-family:'Poppins',sans-serif;
    background:#000;
    color:#fff;
}

.services{
    padding:8rem 9%;
    text-align:center;
}

.section-title{
    font-size:3.6rem;
    margin-bottom:1rem;
}

.section-subtitle{
    font-size:1.6rem;
    color:#bdbdbd;
    max-width:700px;
    margin:0 auto 5rem;
}

.services-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:3rem;
}

.service-card{
    background:#0f0f0f;
    padding:3rem;
    border-radius:1.5rem;
    border:1px solid #1f1f1f;
    transition:.3s;
}

.service-card h2{
    font-size:2rem;
    color:#b74b4b;
    margin-bottom:1.5rem;
}

.service-card p{
    font-size:1.5rem;
    color:#ccc;
    line-height:1.7;
}

.service-card:hover{
    transform:translateY(-10px);
    border-color:#b74b4b;
    box-shadow:0 0 20px rgba(183,75,75,.4);
}
